<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"><title>details</title></head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center mt-5">
                <h3 class="mb-2">Title</h3>
                <p th:href="@{/note/details/{noteId}(noteId=${notes.noteId})}" th:text="${notes.title}"></p>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12  d-flex justify-content-center mt-5">
                <p th:href="@{/note/details/{noteId}(noteId=${notes.noteId})}" th:text="${notes.description}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-5">
                <a href="/home" class="btn btn-primary">Go to Home</a>
            </div>
        </div>
    </div>
</body>
</html>
