<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"><title>Home</title></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-end m-2">
            <form action="#" th:action="@{/account/logout}" method="post">
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-5">
            <h1>All Notes</h1>
        </div>
    </div>
    <div class="row m-3 border-bottom">
        <div class=>
            <h3>Title</h3>
        </div>
    </div>

    <div th:each="note : ${notes}" class="row justify-content-center m-3">
        <div class="col-10 d-flex justify-content-center border-bottom">
            <a th:href="@{/details(noteId=${note.noteId})}"
               th:text="${note.title}"
               style="display: block; width: 100%; text-decoration: none; color: inherit;">
            </a>
        </div>
        <div class="col-2 d-flex justify-content-center">
            <form method="post" th:action="@{/delete/{id}(id=${note.noteId})}">
                <input type="hidden" name="_method" value="delete" />
                <button class="btn-sm btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>


    <div class="row justify-content-center m-3">
        <div class="col-12 d-flex justify-content-center mt-3">
            <a th:href="@{/create}" class="btn btn-primary">Add New Note</a>
        </div>
    </div>
</div>
</body>
</html>
