body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #333;
}

.btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}


@media (max-width: 768px) {
    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        word-wrap: break-word; /* Zajišťuje, že text v buňkách se zalamuje, pokud je příliš dlouhý */
    }

    th {
        background-color: #f4f4f4;
    }

    h1 {
        font-size: 1.5rem;
    }

    .container {
        padding: 15px;
    }

    .btn {
        font-size: 0.9rem;
        padding: 6px 12px;
    }

    a {
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    .btn-success {
        width: 100%;
    }

    table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    table td form {
        margin: 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    .container {
        padding: 10px;
    }

    table {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.8rem;
        padding: 5px 10px;
    }

    .btn-success {
        font-size: 1rem;
    }

    table td {
        flex-direction: column;
        align-items: flex-start;
    }

    table td form {
        margin-top: 10px;
    }
}